---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <link
      rel="icon"
      href="/favicon.ico"
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>hello Astro</title>
  </head>
  <body>
    <!-- nav start -->
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <!-- nav end -->

    <h1>Mi Sitio de Astro</h1>
    <h1>Sobre Mí</h1>
    <h2>... y mi nuevo sitio con Astro!</h2>

    <p>
      Estoy trabajando en el tutorial introductorio de Astro. Esta es la segunda
      página de mi sitio web, ¡y es la primera que construí yo mismo!
    </p>

    <p>
      Este sitio se actualizará a medida que complete más del tutorial, ¡así que
      sigue visitándolo para ver cómo avanza mi viaje!
    </p>
  </body>
</html>
